<h1> TASKS </h1>
</br>
  <% @task.each do |task| %>
    <h2><%= task.day %> || <%= task.description %> <%= task.id %>
    <%= task.user_id %></h2>
    <a href="/tasks/<%=task.id%>">Show</a>
  <% end %>
